/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

li {
  display: inline-block;
  font-size: 18px;
}

li a {
  margin: 25px;
  color: whitesmoke;
  text-decoration: none;
  display: block;
}

li a:hover {
  color: cyan;
}

.navbar {
  background-color: rgb(159, 161, 176);
  color: white;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 60px;
  padding: 80px;
}

.gallery-grid img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
} */
:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "oswald", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  gap: 0-2rem;
  text-align: center;
}
nav {
  background: lightgreen;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
main {
  background: black;
  grid-area: main;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
#sidebar {
  background: lightseagreen;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
#content1 {
  background: lightgrey;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
#content2 {
  background: lightgoldenrodyellow;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
#content3 {
  background: yellow;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
footer {
  background: lightslategray;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
